

@keyframes fly {
    0% {
        left: 0px; top:0px;
    } 
    10% {
        left: 15px; top: 35px;
    } 
    30% {
        left: 100px; top: 150px;
    } 
    50% {
        left: 70px; top: 300px;
    } 
    75% {
        left: 90px; top:10px;
    } 
    100% {
        left: 0px; top: 0px;
    }
} 

h1 {
    animation-name: fly;
    position: relative;
    animation-duration: 5s;
    animation-delay: 3s;
    animation-iteration-count: 5;
}